/SWProjektJohn-bservice-api/target/
/SWProjektJohn-bservice-impl/target/
/SWProjektJohn-core-api/target/
/SWProjektJohn-dao-api/target/
/SWProjektJohn-dao-impl/target/
/SWProjektJohn-entity-api/target/
/SWProjektJohn-facade-api/target/
/SWProjektJohn-facade-impl/target/
/SWProjektJohn-web/target/