/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.10.2017, 14:33:31
    Author     : Andreas John
*/

/* #D68910 = orange background */

.img-fluid{
    max-height: 100px;
}

footer{
    padding-top: 20px;
    padding-bottom: 5px;
}

.tableWithoutBorder td{
    border-style:none;
}

.form-group.required .control-label:after { 
    content:"*";
    color:#D68910;
    font-weight: bold;
}

header.container, nav.container {
    padding: 0px;
}

.jumbotron, .card-header, footer, .card-header a{
    color: white;
} 

h3, .btn-primary, .btn-info{
    margin-bottom: 20px;
}

.card-header, nav div, .progress-bar,.btn-primary, footer{
    background-color: #D68910;
}

.btn-primary{
    border-color: #D68910;
}

.buttonGroupWithMargin .btn-primary{
    margin-right: 5px;
}

.form-control:focus {
    border-color: #D68910;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(214, 137, 16, 0.25);
}

.btn-primary:hover {
    background-color: black;
    border-color: #D68910;
}

.btn-primary:focus, .btn-primary.focus, .btn-info:focus, .btn-info.focus {
    box-shadow: none;
}

.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: black;
    border-color: #D68910;
    box-shadow: none;
}

.btn-primary:disabled {
    background-color: #D68910;
    border-color: #D68910;
}

a, h2, .mainContent i{
    color: #D68910;
}

nav div{
    border-top: 1px solid white;
    padding: 10px 0px;
}

header .jumbotron{
    background:url("../resources/images/bgPic.jpg") no-repeat center center; 
    background-size: cover; 
}

.jumbotron{
    padding-bottom: 20px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.jumbotron h1{
    padding-top: 40px;
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
}

.mainContainer{
    margin-top: 50px;
    margin-bottom: 20px;
}

body{
    background: #f7971e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f7971e, #ffd200); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f7971e, #ffd200);
    background-attachment: fixed;
}

html{
    min-height: 100%;
}

.mainContent{
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: white;
}

.nav.nav-tabs{
    margin-bottom: 20px;
}

td label{
    padding-left: 5px;
}

img{
    margin-top: 10px;
    margin-bottom: 10px;
}

header a{
    color:white;
}

header a:hover{
    color:#D68910;
}

a:hover{
    text-decoration: none;
    color: black;
}

nav div a{
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
}

nav div a.active{
    color: black;
}

.card{
    margin-bottom: 15px;
}

.bandLinkIcon{
    margin-right: 20px;
}

.text-toggle[aria-expanded=false] .text-expanded {
  display: none;
}
.text-toggle[aria-expanded=true] .text-collapsed {
  display: none;
}

#informationDiv .card-body{
    color: white;
    background-color: #333;
}

#informationDiv h3{
    color: #D68910;
}